<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css">
    
    <!-- Importing Google Fonts -->
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans" />
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Pacifico" />
    
    <!-- Latest compiled JQuery -->
    <script src="https://code.jquery.com/jquery-3.1.1.js"
    integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
    crossorigin="anonymous"></script>

</head>




<!-- THIS IS ALSO THE MY GROUPS PAGE! -->

<body>
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="<%= userprofile.users[0].pic %>" class="img-responsive">
				</div>
				<!-- END SIDEBAR USERPIC -->

				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= userprofile.users[0].username %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->

				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-danger btn-sm">Logout</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->

				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li>
							<a href="mainA"><span class="glyphicon glyphicon-user"></span>My Groups</a>
						</li>
						<li class="active">
							<a href="discoveryA"><span class="glyphicon glyphicon-globe"></span>Find a Ride</a>
						</li>
						<li>
							<a href="settings"><span class="glyphicon glyphicon-cog"></span>Settings</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>


		<!-- MAIN CONTENT -->
		<div class="col-md-9">
            <div class="profile-content">

            	<h1 align="center"> Sign up for rides! </h1>
                
            <% for(var i = 0; i < dbdrive.length; i++ ){ %>
                
                <div id="discover-post-container">  
                    <div class="row" id="<%=i%>" style="width: 500px; height:400px; display: block; text-align: center;"></div>    

                    <div class="profile-usertitle">
                        <div class="profile-usertitle-name">
                            <%= dbdrive[i].username %>
                        </div>
                    </div>
                
        	       	<li> Leaving at: <%= dbdrive[i].time %> </li>
        	       	<li> Pick Up: <%= dbdrive[i].pickup %> </li>
        	       	<li> Drop Off: <%= dbdrive[i].dropoff %> </li>


        	     	<li> Rides on: 
        	        	<% if(dbdrive[i].dates[0] == 1){ %>
        	        		Mon, 
        	        	<% } %>

        	        	<% if(dbdrive[i].dates[1] == 1){ %>
        	        		Tue, 
        	        	<% } %>

        	        	<% if(dbdrive[i].dates[2] == 1){ %>
        	        		Wed, 
        	        	<% } %>

        	        	<% if(dbdrive[i].dates[3] == 1){ %>
        	        		Thu, 
        	        	<% } %>

        	        	<% if(dbdrive[i].dates[4] == 1){ %>
        	        		Fri, 
        	        	<% } %>

        	        	<% if(dbdrive[i].dates[5] == 1){ %>
        	        		Sat, 
        	        	<% } %>
                        
        	        	<% if(dbdrive[i].dates[6] == 1){ %>
        	        		Sun
        	        	<% } %>
        	        </li>
                    
                    <form action="/discovery/joinGroup" method="post">
                        <lable>
                            <input type="text" id="groupId-form" name="groupId" value="<%=dbdrive[i]._id%>">
                        </lable>
                        
                        <div class="col-md-4 text-center" id="join-btn-container">
                            <input type="submit" id="join-btn" class="btn btn-success" value="Join Group">
                        </div>
                    </form>
                </div>
                <hr>
        	    <% } %>

            </div>
		</div>
        
    
    </div>
</body>

<script>
    function initAutocomplete(){
        var dbdrive = <%- JSON.stringify(dbdrive) %>;
        for(i=0; i<dbdrive.length; i++){
            
            console.log('dbdrive looks like ' + JSON.stringify(dbdrive[1]));
            var map = new google.maps.Map(document.getElementById(i), {
            center: {lat: 32.880376, lng: -117.235065},
            zoom: 15,
            mapTypeId: 'roadmap',
            mapTypeControl: false,
            });
            
            var pu_icon = {
                  url: "http://maps.google.com/mapfiles/ms/icons/green.png",
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(30, 30)
                };
            
            var do_icon = {
                  url: "http://maps.google.com/mapfiles/ms/icons/red.png",
                  size: new google.maps.Size(71, 71),
                  origin: new google.maps.Point(0, 0),
                  anchor: new google.maps.Point(17, 34),
                  scaledSize: new google.maps.Size(30, 30)
                };
            
            var puLongLat = {lat: parseFloat(dbdrive[i].pickupLat), lng: parseFloat(dbdrive[i].pickupLong)};
            console.log('pick up latt long looks like '+JSON.stringify(puLongLat));
            
            var doLongLat = {lat: parseFloat(dbdrive[i].dropoffLat), lng: parseFloat(dbdrive[i].dropoffLong)};
            
                // Create a marker for each place.
            var pu_marker = new google.maps.Marker({
              map: map,
              icon: pu_icon,
              title: "Pickup Location",
              position: puLongLat
            });
            
            var do_marker = new google.maps.Marker({
                map: map,
                icon: do_icon,
                title: "Drop Off Location",
                position: doLongLat
            });
            
            var LatLngList = [
                     puLongLat, 
                     doLongLat
                 ],
            latlngbounds = new google.maps.LatLngBounds();

            LatLngList.forEach(function(latLng){
               latlngbounds.extend(latLng);
            });

            map.setCenter(latlngbounds.getCenter());
            map.fitBounds(latlngbounds); 
        }
    }
</script>
<!-- Google Map Api-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm_HyYv53RLUIrqJICXV736xFbliLqSVA&libraries=places&callback=initAutocomplete" async defer></script>

</html>