<!DOCTYPE html>
<html>
<head>
<!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/sidebar.css">
    
    <!-- Importing Google Fonts -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans" />
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Pacifico" />


    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>


    <!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.6.0/firebase.js"></script>
	<script>
	  // Initialize Firebase
	  var config = {
	    apiKey: "AIzaSyCkkZLilGWMKEobaGnn5wq6eeiWsV4julU",
	    authDomain: "ride-175f3.firebaseapp.com",
	    databaseURL: "https://ride-175f3.firebaseio.com",
	    storageBucket: "ride-175f3.appspot.com",
	    messagingSenderId: "344088152572"
	  };
	  firebase.initializeApp(config);
	</script>
    
</head>




<!-- THIS IS ALSO THE MY GROUPS PAGE! -->

<body>
<div class="container">
    <div class="row profile">
		<div class="col-md-3">
			<div class="profile-sidebar">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					<img src="<%= userprofile.pic %>" class="img-responsive">
				</div>
				<!-- END SIDEBAR USERPIC -->

				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">
						<%= userprofile.username %>
					</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->

				<!-- SIDEBAR BUTTONS -->
				<div class="profile-userbuttons">
					<button type="button" class="btn btn-danger btn-sm">Logout</button>
				</div>
				<!-- END SIDEBAR BUTTONS -->

				<!-- SIDEBAR MENU -->
				<div class="profile-usermenu">
					<ul class="nav">
						<li class="active">
							<a href="mainA"><span class="glyphicon glyphicon-user"></span>My Groups</a>
						</li>
						<li>
							<a href="discoveryA"><span class="glyphicon glyphicon-globe"></span>Join a Ride</a>
						</li>
					</ul>
				</div>
				<!-- END MENU -->
			</div>
		</div>




		<!-- MAIN CONTENT -->
		<div class="col-md-9">
            <div class="profile-content">
            	<h1 align="center"> These are your rides! </h1>
            		<h3 align="center"><a class="btn" href="addGroup" style="background-color:powderblue;">Create a Ride</a></h3>



            	<!-- how do we know the current user? it's always Han because Han is just that important lol -->
            	<% var cu = 0;
            	for(var i = 0; i < dbuser.length; i++){
            		if(dbuser[i]._id == "582552e6dcba0f326cc71a6e"){
            			cu = i;
            		}
            	}%>



            	<!-- go through the whole ride database
            		if user's id == id of a rider...-->
	            <% var counter = 0;
	            for(var h = 0; h < dbuser[cu].groups.length; h++ ){ 
	            	for(var i = 0; i < dbdrive.length; i++ ){ 
	    	        	if(dbuser[cu].groups[h] == dbdrive[i]._id){
	    	        		if(dbuser[cu].username != dbdrive[i].username){ %>
								<!-- getting driver's pic -->
                
                
								<div class="map-container">	
								    <div id="<%=h%>" style="width: 100%; height:400px;"></div>	
								</div>
                
								<div class="profile-usertitle">
									<div class="profile-usertitle-name">
										<%= dbdrive[i].username %>
									</div>
								</div>


								<% for(var c = 0; c < dbdrive[i].dates.length; c++){
									if(dbdrive[i].dates[c] == 1){
										counter = counter + 1;
									}
								}
								%>

	        	       			
	        	       			<li> Leaving at: <%= dbdrive[i].time %> </li>
	        	       			<li> Pick Up: <%= dbdrive[i].pickup %> </li>
			        	       	<li> Drop Off: <%= dbdrive[i].dropoff %> </li>
	        			     	<li> Rides on: 
	        	    		    	<% if(dbdrive[i].dates[0] == 1){ 
	        	    		    		--counter %>
			        	        		Mon
	        			        	<% 	if(counter > 0){ %>
	        			        			, 
	        			        	<% }} %>

	        	    		    	<% if(dbdrive[i].dates[1] == 1){
	        	    		    		--counter %>
	        	        				Tue
	        			        	<% 	if(counter > 0){ %>
	        			        			, 
	        			        	<% }} %>

	        			        	<% if(dbdrive[i].dates[2] == 1){ 
	        			        		--counter; %>
	        	    		    		Wed
	        			        	<% 	if(counter > 0){ %>
	        			        			, 
	        			        	<% }} %>

			        	        	<% if(dbdrive[i].dates[3] == 1){ 
			        	        		--counter; %>
	        			        		Thu
	        			        	<% 	if(counter > 0){ %>
	        			        			, 
	        			        	<% }} %>

	        	        			<% if(dbdrive[i].dates[4] == 1){
	        	        				--counter; %>
	        	        				Fri
	        			        	<% 	if(counter > 0){ %>
	        			        			, 
	        			        	<% }} %>

	        			        	<% if(dbdrive[i].dates[5] == 1){ 
	        			        		--counter;%>
	        	        				Sat
	        			        	<% 	if(counter > 0){ %>
	        			        			, 
	        			        	<% }} %>
	        			        	
			        	        	<% if(dbdrive[i].dates[6] == 1){ %>
	        			        		Sun
	        	    		    	<% } %>
	        	        		</li>
	        				<hr>
	    				<% }
	    			}
	    		}
			} %>	    


  
			</div>
		</div>

	</div>
    </div>
    <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-87713588-1', 'auto');
            ga('send', 'pageview');

        </script>
</body>

     <script>
        function initAutocomplete(){
            var dbuser = <%- JSON.stringify(dbuser) %>;
            var dbdrive = <%- JSON.stringify(dbdrive) %>;
                        
            var bounds = new google.maps.LatLngBounds();
            var markers = [];
            var puLongLat, doLongLat;
            var cu = 0;
            
            // Searching for Current user index location in user database
            for(var i = 0; i < dbuser.length; i++){
                if(dbuser[i]._id == "582552e6dcba0f326cc71a6e"){
                    cu = i;
                }
            }
            
            // For every ride group user belongs to
            for(var i=0; i < dbuser[cu].groups.length; i++){
                
                // Go through the entire drive database
                for(var j=0; j <dbdrive.length; j++){
                    // Find the group that user is in
                    if(dbuser[cu].groups[i] == dbdrive[j]._id){
                        // Get the pickup location lng and lat
                        puLongLat = {lat: parseFloat(dbdrive[j].pickupLat), lng: parseFloat(dbdrive[j].pickupLong)};
                        
                        // Get the dropoff location lng and lat
                        doLongLat = {lat: parseFloat(dbdrive[j].dropoffLat), lng: parseFloat(dbdrive[j].dropoffLong)};
                    }
                }
                var map = new google.maps.Map(document.getElementById(i), {
                zoom: 15,
                mapTypeId: 'roadmap',
                mapTypeControl: false,
                scrollwheel: false
                });
                var pu_icon = {
                      url: "http://maps.google.com/mapfiles/ms/icons/green.png",
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(30, 30)
                    };
                var do_icon = {
                      url: "http://maps.google.com/mapfiles/ms/icons/red.png",
                      size: new google.maps.Size(71, 71),
                      origin: new google.maps.Point(0, 0),
                      anchor: new google.maps.Point(17, 34),
                      scaledSize: new google.maps.Size(30, 30)
                    };
                    // Create a marker for each place.
                var pu_marker = new google.maps.Marker({
                  map: map,
                  icon: pu_icon,
                  title: "Pickup Location",
                  position: puLongLat
                });
                var do_marker = new google.maps.Marker({
                    map: map,
                    icon: do_icon,
                    title: "Drop Off Location",
                    position: doLongLat
                });
                markers = [pu_marker, do_marker];
                for (var c = 0; c < markers.length; c++) {
                 bounds.extend(markers[c].getPosition());
                }
                map.fitBounds(bounds);
            }
        }
    </script>
    <!-- Google Map Api-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCm_HyYv53RLUIrqJICXV736xFbliLqSVA&libraries=places&callback=initAutocomplete" async defer></script>


</html>